<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

	<!-- 数据库信息（连接信息写到spring的配置文件中） -->
	<!-- 
		<property name="connection.url">jdbc:mysql://localhost:3306/easyuissh?useUnicode=true&characterEncoding=utf8</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>
	-->

	<!-- 其他配置 -->
	<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
	<property name="show_sql">true</property>
	<property name="hibernate.format_sql">true</property>
	<property name="hbm2ddl.auto">update</property>

	<!-- 导入映射配置 -->
	<mapping resource="com/wxweven/domain/DBTable.hbm.xml" />

</session-factory>
</hibernate-configuration>